.salesAssociatePage { /* stylelint-disable */

}

.title {
  float: left;
}

.accountInfo {
  
}

.accountInfo {

}

.orderEntry {
   width: '50%';
   float: 'left';
   height: '600px';
}

.itemEntry {
}

.shoppingCart {
}

.paymentForm {
}

.checkoutButton {

}


