<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
 	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
 	<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
 	<property name="hibernate.connection.username">USER</property>
 	<property name="hibernate.connection.password">PASSWORD</property>
 	<property name="show_sql">true</property>
    
    <mapping resource ="Sales.Order.hbm.xml"/>
    <mapping resource ="Sales.OrderHistory.hbm.xml"/>
    <mapping resource ="Sales.ShoppingCart.hbm.xml"/>
    <mapping resource ="Sales.Employees.Employees.hbm.xml"/>
    <mapping resource ="Sales.Employees.RegionalManager.hbm.xml"/>
    <mapping resource ="Sales.Employees.SalesRep.hbm.xml"/>
    <mapping resource ="Sales.Wearable.Active.hbm.xml"/>
    <mapping resource ="Sales.Wearable.Comfort.hbm.xml"/>
    <mapping resource ="Sales.Wearable.Fahsion.hbm.xml"/>
    <mapping resource ="Sales.Wearable.Healthy.hbm.xml"/>
    <mapping resource ="Sales.Wearable.Wearable.hbm.xml"/>
    
    </session-factory>
</hibernate-configuration>
