.custSupportAgent { /* stylelint-disable */

}

.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  border: 1px solid black;
}

.accountInfo {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 150px;
  border: 1px solid black;
}

.content {
  position: fixed;
  top: 150px;
  left: 250px;
  right: 0;
  bottom: 0;
  border: 1px solid black;  
}
